{{ define "index/index.tmpl" }}
<html>
<head>
</head>
<body>
    <input type="text" name="qrcode_content" value="" placeholder="二维码">
    <input type="submit" value="提交">
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
</script>

</html>